/* CSS FOR MODAL WINDOW */

.blurred_element {
    height: 100vh;
    overflow: hidden;
    filter: blur(10px);
}

.background_modal {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.modal_block {
    box-shadow: -5px 5px 10px 0 rgba(126, 126, 126, 0.5);
    margin: 20px;
    max-width: 700px;
    min-width: 300px;
    border-radius: 15px;
    position: relative;
    top: 0;
    right: 0;
}

.modal_block > .modal_title {
    border-radius: 15px 15px 0px 0px;
}

.modal_block > .modal_content {
    border-radius: 0px 0px 15px 15px;
}


.modal_title {
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0;
}

.modal_close {
    display: inline-block;
    height: 25px;
    right: 5px;
    position: absolute;
    top: 3px;
}

.modal_content {
    background-color: var(--white);
    padding: 30px;
}

.modal_box_choice {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.modal_choice {
    text-align: center;
    min-width: 100px;
    border-radius: 100px;
    background-color: var(--darkgrey);
    color: var(--white);
}

.modal_separator {
    width: 100%;
    border-color: rgba(0, 0, 0, 0.3);
}